div(ng-controller="SetPasswordController as SetPasswordController")
  .row(ng-if="!SetPasswordController.reseted")
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Чтобы повторно зайти в сервис, пожалуйста, введите пароль
          .clearfix
        .x_content
          br
          form.form-horizontal.form-label-left(name="PasswordForm")
            .form-group
              input.form-control(type="password", placeholder="Введите пароль", ng-model="SetPasswordController.data.password", required)
            .form-group
              input.form-control(type="password", placeholder="Введите пароль ещё раз", ng-model="SetPasswordController.data.password_again", required, match="SetPasswordController.data.password")
            .form-group
              .btn.btn-success(ng-disabled="!PasswordForm.$valid", ng-click="SetPasswordController.setPassword(PasswordForm)") Ок