- var answers = [ { url: '/static/images/happy.png', text: 'Отлично' },  { url: '/static/images/surprised.png', text: 'Сойдет' }, { url: '/static/images/confused.png', text: 'Не очень' }, { url: '/static/images/sad.png', text: 'Ужасно' } ]
.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        h2 Добавление нового опроса
        .clearfix
      .x_content
        br
        form.form-horizontal.form-label-left(name="AddPollForm")
          div(ng-repeat="question in AddPollController.data.questions track by $index")
            .form-group
              label.col-md-3.col-sm-3.col-xs-12 Вопрос
              .col-md-9.col-sm-9.col-xs-12
                input.form-control(type="text", placeholder="Введите вопрос опроса", ng-model="question.text", required)
            .form-group(ng-if="question.custom_answers.length === 0")
              label.col-md-3.col-sm-3.col-xs-12 Варианты ответа
              .col-md-9.col-sm-9.col-xs-12
                for answer, i in answers
                  .checkbox
                    label
                      input(type="checkbox", ng-model="question.answers[" + i + "]", ng-true-value=i+"" ng-false-value="undefined")
                      | #{answer.text}
            .form-group(ng-repeat="custom_answer in question.custom_answers track by $index")
              label.col-md-3.col-sm-3.col-xs-12 Текст ответа
              .col-md-9.col-sm-9.col-xs-12
                input.form-control(ng-model="custom_answer.text", placeholder="Текст ответа")
              label.col-md-3.col-sm-3.col-xs-12 Картинка
              .col-md-5.col-sm-5.col-xs-12
                input(type="file", nv-file-select, uploader="AddPollController.getUploader(custom_answer)")
                .btn.btn-warning(ng-click="AddPollController.openGallery(custom_answer)") Выбрать из галереи
              .col-md-4.col-sm-4.col-xs-12(ng-if="custom_answer.url")
                img(style="width: 100%; height: auto;", ng-src="{[ custom_answer.url ]}")
          .form-group
            .btn.btn-warning.col-md-3.col-sm-3.col-xs-12.col-md-offset-7.col-sm-offset-7(ng-click="AddPollController.addNewAnswer(question)") Добавить ответ
          .form-group
            .btn.btn-danger.col-md-3.col-sm-3.col-xs-12.col-md-offset-7.col-sm-offset-7(ng-click="AddPollController.addNewQuestion()") Добавить вопрос
          .form-group
            label.col-md-3.col-sm-3.col-xs-12 Текст при завершении отпроса
            .col-md-9.col-sm-9.col-xs-12
              textarea.form-control(type="text", placeholder="Текст при завершении отпроса", ng-model="AddPollController.data.success_text")
          .form-group
            label.col-md-3.col-sm-3.col-xs-12 Дата начала
            .col-md-9.col-sm-9.col-xs-12
              input.form-control(calendar, type="text", ng-model="AddPollController.data.start_date", date-format="dd.mm.yy", date-format-moment="DD.MM.YYYY", constrain-input="true", ng-pattern="/\\d\\d\\.\\d\\d\\.\\d\\d\\d\\d/", max-date="AddPollController.data.end_date", placeholder="c")
          .form-group
            label.col-md-3.col-sm-3.col-xs-12 Дата окончания
            .col-md-9.col-sm-9.col-xs-12
              input.form-control(calendar, type="text", ng-model="AddPollController.data.end_date", date-format="dd.mm.yy", date-format-moment="DD.MM.YYYY", constrain-input="true", ng-pattern="/\\d\\d\\.\\d\\d\\.\\d\\d\\d\\d/", min-date="AddPollController.data.start_date", placeholder="по")
          .form-group
            label.col-md-3.col-sm-3.col-xs-12 Планшеты
            .col-md-9.col-sm-9.col-xs-12
              .checkbox(ng-repeat="tablet in AddPollController.tablets")
                label
                  input(type="checkbox", ng-model="AddPollController.data.tablets[$index]", ng-true-value="{[ tablet.link ]}" ng-false-value="undefined")
                  | {[ tablet.name ]}
          .form-group
            label.col-md-3.col-sm-3.col-xs-12 Группы
            .col-md-9.col-sm-9.col-xs-12
              .checkbox(ng-repeat="group in AddPollController.groups")
                label
                  input(type="checkbox", ng-model="AddPollController.data.groups[$index]", ng-true-value="{[ group.tablets ]}" ng-false-value="undefined")
                  | {[ group.name ]}

          .form-group
            .col-md-6.col-sm-6.col-xs-12.col-md-offset-3.btn.btn-success(ng-click="AddPollController.create(AddPollForm)") Добавить опрос