if user.login == 'admin'
  h1 Это стартовая страница суперпользователя
  p Отсюда можно:
    ul
      li 
        a(href="#add_user") Отправлять приглашения другим пользователям
      li
        | И что-то ещё точно будет, пока не придумал что :)
else
  h1 Добро пожаловать в личный кабинет!

  if !user.password
    include ../../includes/profile/set_password.jade


