table.table(ng-if="TabletsController.tablets != null")
  thead
    th ID
    th Название
    th Создан
    th Ключ
    th Группа
    th Онлайн
    th Действия
  tbody
    tr(ng-repeat="tablet in TabletsController.tablets")
      td {[ tablet.id ]}
      td {[ tablet.name ]}
      td {[ tablet.created_at | formatDate:'DD.MM.YYYY HH:mm' ]}
      td(ng-if="!tablet.is_active") {[ tablet.link ]}
      td(ng-if="tablet.is_active") Активирован {[ tablet.updated_at | formatDate:'DD.MM.YYYY HH:mm' ]}
      td
        select(ng-model="tablet.group", ng-options="i.name for i in TabletsController.groups track by i.id" ng-change="TabletsController.changeGroup(tablet)")
          option(value="") Нет группы
      td(ng-if="tablet.last_active && TabletsController.timeFromNow(tablet.last_active) < 300000") Онлайн
      td(ng-if="!tablet.last_active || TabletsController.timeFromNow(tablet.last_active) >= 300000") Оффлайн
      td 
        .btn.btn-default(ng-click="TabletsController.loadPolls(tablet.link)") Опросы